<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PokeServer Submission </title>
</head>

<body>
	<%- table %><br>
    <a href="/">HOME</a>
</body>

</html>
