<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PokeServer Index </title>
</head>

<body>
	<h1>Welcome to the 335 Pokemon Team Builder</h1>
	<form action="/" method="post"> 
		<em>Enter Pokemon name here to learn more about it:</em><br><br>
		<label>Name (e.g. Piplup): <input type="text" name="pokemon"/></label>
		<br><br>
		<input type="submit" value="Search Pokemon"/>
	</form>
	<br>
	<br>
	<a href="/team">Click here to build your team!</a>
</body>

</html>
