<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove</title>
</head>

<body>
    <h1>Success!</h1>
    You have successful deleted all your Pokemon..
    <br>
    <br>

    <a href="/team">Start a New Team</a>
    <br>
    <a href="/">HOME</a> 

</body>
    
</html>