<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Adding Pokemon</title>
</head>

<body>
    <h1>Success!</h1>
    You have added a new Pokemon to your team!
    <br>
    <br>

    <a href="/team">Add More Pokemon To Your Team</a>
    <br>
    <a href="/displayTeam">View Your Team</a>
    <br>
    <a href="/">HOME</a> 

</body>
    
</html>