<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PokeServer Team </title>
</head>

<body>
	<h1>Build your Team</h1>
	<form action="/team" method="post"> 
		<em>Enter Pokemon name here to add it to your team:</em><br><br>
		<label>Name: <input type="text" name="pokemon"/></label>
		<br><br>
		<input type="submit" value="Add to Team"/>
	</form>
    <br>
    <br>

	<a href="/displayTeam">View Your Team</a>
	<br>
	<a href="/">HOME</a>
</body>

</html>
